{% extends "base.html" %}

{% block content %}
<section id="about" class="mb-4">
    <h2>Про себе</h2>
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Фото профілю" class="img-thumbnail" width="180">
    <p class="mt-3">Я системний адміністратор із досвідом у Linux, мережах і DevOps-підходах. Люблю автоматизацію, надійність і чистий код.</p>
</section>

<section id="education" class="mb-4">
    <h2>Освіта</h2>
    <p> ВПУ-21 м. Івано-Франківьк. Кваліфіковний робітник "Оператор з обробки та програмного забезпечення" <strong>2019–2022</strong>.</p>
    <p> ВПУ-21 м. Івано-Франківьк. Молодший фаховий бакалавр "Комп`ютерні науки" <strong>2022–2024</strong>.</p>
    <p> Карпатський національлний університет ім. Васеля Стефаника. Бакаравр "ІПЗ" <strong>2024–2027</strong>. </p>
</section>

<section id="skills" class="mb-4">
    <h2>Навички</h2>
    <ul>
        <li>Linux / Bash</li>
        <li>Python / Node / PHP</li>
        <li>Docker, Git, Nginx</li>
    </ul>
</section>

<section id="technologies" class="mb-4">
    <h2>Технології</h2>
    <p>Ubuntu server 22-24, MikroTik, Windows server 22-24.</p>
</section>

<section id="projects" class="mb-4">
    <h2>Досвід роботи / Проєкти</h2>
    <p>• Налаштування внутрішніх серверів Linux для локальної мережі.</p>
    <p>• Автоматизація бекапів і моніторингу за допомогою скриптів Bash.</p>
</section>
{% endblock %}
